---
layout: default
---
<div class="col-md-9">
  {% for post in paginator.posts %}
    <article class="news-item">
      <h3><a href="{{ post.url }}">{{ post.title }}</a><small>  {{ post.date  | date: "%Y.%m.%d" }}</small></h3>

      {{ post.description }}
    </article>
  {% endfor %}
  <br/>

  <!-- Pagination links -->
  <div class="pull-right">
    {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a class="btn btn-default btn-xs" href="/">Home</a>
    <a class="btn btn-default btn-xs" href="/">&laquo; Prev</a>
    {% else %}
    <a class="btn btn-default btn-xs" href="/">Home</a>
    <a class="btn btn-default btn-xs" href="/page{{paginator.previous_page}}/">&laquo; Prev</a>
    {% endif %}
    {% else %}
    <span><a class="btn btn-default btn-xs disabled" href="/">Home</a></span>
    <span><a class="btn btn-default btn-xs disabled">&laquo; Prev</a></span>
    {% endif %}
    <span><a class="btn btn-default btn-xs disabled">Page: {{paginator.page}} of {{paginator.total_pages}}</a></span>
    {% if paginator.next_page %}
    <a class="btn btn-default btn-xs" href="/page{{paginator.next_page}}/">Next &raquo;</a>
    <a class="btn btn-default btn-xs" href="/page{{paginator.total_pages}}/">Last</a>
    {% else if paginator.page == paginator.total_pages %}
    <span><a class="btn btn-default btn-xs disabled">Next &raquo;</a></span>
    <span><a class="btn btn-default btn-xs disabled">Last</a></span>
    {% endif %}
  </div>
</div>
<div class="col-md-3 visible-lg visible-md">
  {% include categories.html %}
  {% include recently_posts.html %}
  {% include recently_comments.html %}
  {% include blogroll.html %}
  {% include support.html %}
</div>
<div class="clearfix"></div>
