
body {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, 'Helvetica Neue', 'Hiragino Sans GB', 'Microsoft YaHei', '微软雅黑', Arial, Verdana, sans-serif;
	font-size:14px;
	line-height: 1.6;
	color:rgba(51,51,51,0.9);
	background-color:rgba(204,204,204,0.3);
}

.container {
	padding:0 5px;
	width:90%;
}

:hover,:focus {
	transition:all 0.3s
}
a:hover,a:focus {
	text-decoration:none
}

h1, h2, h3, h4, h5 {
	color:rgba(0,153,153,0.8);
	position: relative;
}

h1 {
    font-size: 28px;
    padding: 5px 0;
    border-bottom: 1px solid rgba(0,153,153,0.8);
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

h5 {
    color: #777777;
    font-size: 14px;
}
h6 {
    color: #777777;
    font-size: 14px;
}

blockquote{padding: 0px 20px;display:block;text-align:justify;font-size: 15px;border-left: 5px solid rgba(0,153,153,0.8)}
blockquote p{margin:0;padding:.5em 0;}

.header {
	display:inline
}
.header .title {
	font-size:32px;
	display:inline;
	text-shadow:0 1px 0 #fff,0 1px 1px rgba(170,170,170,0.8)
}
.header .title a {
	color:rgba(0,153,153,0.8)
}
.header .title a:hover,.header .title a:focus {
	color:rgba(0,102,102,0.8)
}
.header ul li {
	margin:4px 0
}
.header ul li a {
	color:rgba(0,153,153,0.8);
	text-shadow:0 1px 0 #fff,0 1px 1px rgba(170,170,170,0.8)
}
.header ul li a:hover,.header ul li a:focus {
	color:rgba(0,102,102,0.8);
	background:transparent
}
.header ul li form {
	margin-top:15px
}

.news-item{
    border-bottom:1px dashed rgba(0,153,153,0.8);
    margin-bottom:20px;
    padding-bottom:5px;
}

.wrapper {
	border:1px solid rgba(0,0,0,0.17);
	box-shadow:0 1px 10px rgba(170,170,170,0.8);
	background:rgba(253,253,253,0.9);
	padding:20px 20px 20px 20px;
	margin:20px 0;
}
.wrapper a:visited {
	color: rgba(0, 153, 153, 0.8);
}
.wrapper .small {
	color:rgba(119,119,119,0.8)
}

.wrapper p li,.wrapper ol li,.wrapper ul li,.wrapper table li {
	margin:3px 0
}
.wrapper p img,.wrapper ol img,.wrapper ul img,.wrapper table img {
	max-width:85%;
	margin:0 auto;
	display:inherit;
	border-radius:6px;
	padding:4px;
	line-height:1.429
}
.wrapper p code,.wrapper ol code,.wrapper ul code,.wrapper table code {
	background-color:#fefbf3;
	box-shadow:0 0 1px rgba(0,0,0,0.167);
	border:1px solid rgba(102,102,102,0.167);
}
.wrapper .highlight pre {
	background-color:#F8F8F8;
	box-shadow:0 0 3px rgba(0,0,0,0.267);
	border:1px solid rgba(102,102,102,0.35);
	max-width:98%;
	margin:10px auto
}
.wrapper .highlight pre code {
	font-family:Menlo,"Andale Mono",Consolas,"Courier New",Monaco,monospace;
}
.wrapper ul,ol {
	margin-bottom:10px;
}
.wrapper hr {
	border-color:rgba(102,102,102,0.8)
}
.wrapper .tag-box {
	display:table;
	list-style:none outside none
}
.wrapper .tag-box li {
	line-height:1.8;
	display:inline-block;
	margin:0 3px
}
.wrapper .tag-box li a {
	padding:2px 4px;
	background-color:#fefbf3;
	border-radius:4px
}

table {
	margin-bottom:20px;
	max-width:100%;
	border:1px solid rgba(50,118,177,0.167);
	font-size:13px;
}
table:hover {
	border:1px solid rgba(50,118,177,0.35);
	box-shadow:0 0 3 rgba(50,118,177,0.267);
	transition:all 0.3s
}
table thead tr th {
	border:1px solid rgba(50,118,177,0.167);
	border-top:0 none;
	border-bottom-width:2px;
	vertical-align:bottom;
	padding:6px
}
table tbody tr td {
	border:1px solid rgba(50,118,177,0.167);
	vertical-align:middle;
	padding:6px
}
table thead>tr {
	background-color:rgba(249,249,249,0.9)
}
table tr th[align="center"],table tr td[align="center"] {
	text-align:center
}
table tbody tr:hover {
	background-color:rgba(235,235,235,0.7);
	transition:all 0.3s
}

#toTop {
	width:32px;
	height:48px;
	background:#555;
	background:rgba(85,85,85,0.3);
	position:fixed;
	bottom:80px;
	right:18px;
	text-align:center;
	cursor:pointer;
	display:none
}
#toTop a {
	display:block;
	width:32px;
	height:24px;
	font-size:20px;
	line-height:24px;
	font-family:verdana,arial;
	color:rgba(0,153,153,0.8);
	text-decoration:none;
	background:0
}
#toTop a:hover {
	background:#3d5998
}
#search-loader {
	display:none;
	text-align:center
}
#pay h4{
	display:none;
}
