---
layout: default
---

<div class="col-md-12">
  <article class="news-item">
    <h1  class="article-title"> {{ page.title }}</h1>
    <div class="post-date">
      <a href="https://github.com/{{ site.author.github }}/{{ site.author.github }}.github.com/edit/master/{{ page.path }}" target="_blank">改进此文档</a>&nbsp;&nbsp;
      <i class="fa fa-clock-o" aria-hidden="true"></i>
      {{ page.date | date_to_string }}
    </div>
      {% include toc.html %}
      {% include live2d.html %}
    <div>
      {{ content }}
    </div>
    <div id="pay" style="text-align:center;">
      -----EOF-----
      <br>
      {% include support.html %}
    </div>

    <p class="meta">
      {% unless page.category == empty %}
        Categories:
        {% for cat in page.category %}
          <a class="tags tags-default tags-xs" href="{{ BASE_PATH }}/categories.html#{{ cat|downcase}}">{{ cat |downcase}}</a>
        {% endfor %}
      {% endunless %}

      {% unless page.tags == empty %}
        Tags:
        {% for tag in page.tags %}
          <a class="tags tags-default tags-xs" href="{{ BASE_PATH }}/tags.html#{{ tag }}">{{ tag }}</a>
        {% endfor %}
      {% endunless %}
    </p>
  </article>

  <ul class="pager">
    {% if page.previous %}
      <li class="previous"><a class="btn btn-xs" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Prev</a></li>
    {% else %}
      <li class="previous disabled"><a class="btn btn-xs" href="#">&larr; Prev</a></li>
    {% endif %}
    {% if page.next %}
      <li class="next"><a class="btn btn-xs" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
    {% else %}
      <li class="next disabled"><a class="btn btn-xs" href="#">Next &rarr;</a></li>
    {% endif %}
  </ul>
  {% include comments.html %}
</div>
